header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #F9F1F0;
  width: 100%;
}

.logo img {
  width: 12rem;
  padding: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 2rem;
}

header nav ul li a:hover {
  color: #F79489;
}


